.text{
    font-family: 'Stalinist One', cursive;
}
.font02{
    font-family: 'Poiret One', cursive;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(3, 2, 2);
    color: whitesmoke;
    font-family: 'Stalinist One', cursive;
}
 
#alinear{
    display: flex;
    justify-content: center;  
    align-items: center;
    
}
.transicion{
    animation-name: title;
    animation-duration: 6s;
    color: rgb(255, 64, 6);
}

@keyframes title{
    from {color: black;}
    to {color: rgb(255, 64, 6);}
}
.boton{
    display: flex;
    align-items: center;
    
    color: whitesmoke;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Stalinist One', cursive;
  
}
.div{
    
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left:50px;
    margin-right: 50px;
    
}



.estiloSelect{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left:50px;
    margin-right: 50px;
    min-width: 100px;
    background-color:  rgb(3, 2, 2);
    color: whitesmoke;
    font-family: 'Stalinist One', cursive;
}


.botonReserva {
    background-color: rgb(3, 2, 2);
    color: whitesmoke;
    min-width: 160px; 
    margin-left: 20px;
    margin-right: 20px;
    padding: 16px;
    font-family: 'Stalinist One', cursive;
    font-size: 20px;
    
}

.footer{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;

}
.footerDiv{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    font-style: italic;
}
.botonReserva:hover{
    color:rgb(255, 64, 6);
}
a:link{
    color: white;
}

#color:hover{
    color: yellow;
}
a:visited{
    color: whitesmoke;
}

.divNosotros{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 80px;
    margin-right: 80px;
}

.divA{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.divPago{
    display: flex;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-image: url(https://media1.tenor.com/images/3eeac24d93c64223716a1bf439b5de86/tenor.gif?itemid=15049637);
    
    text-align: center;
    
}

.divImg{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left:50px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.divReserva{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left:50px;
    margin-right: 50px;
}